cluster_name       = "emumba-minikube-cluster"
kubernetes_version = "v1.34.0"
driver             = "docker"
nodes              = 3
cpus               = 4
memory             = "8192mb"
cni                = "flannel"
addons             = ["default-storageclass", "storage-provisioner", "ingress", "metrics-server"]
delete_on_failure  = true
github_username    = "aliannus2"
github_pat         = "ghp_fnsadjsgadhgdssdasfas" # Place your github_pat
github_repo_url    = "https://github.com/aliannus2/emumba-assessment-k8s-iac.git" # Enter you github_repo_url