# Override defaults here if you like

cluster_name        = "emumba-minikube-cluster"
driver              = "docker"
nodes               = 1
cpus                = 4
memory              = 8192
kubernetes_version  = "v1.34.0"
cni                 = "flannel"

# e.g., add-ons or preload off
extra_flags         = [
  "--addons=ingress,metrics-server",
  "--preload=false"
]

wait_for_nodes      = true
delete_on_destroy   = true

# If you prefer a custom kubeconfig path, set it here;
# otherwise Minikube will update ~/.kube/config which is what the next projects use.
kubeconfig_path     = pathexpand("~/.kube/config")
